body {
  font-family: Arial, sans-serif;
  background-color: lavenderblush;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
 text-align: center;
 background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.input {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
  justify-content: center;  
  align-items: center; 

}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}


.todoList {
  list-style: none;
  padding: 0;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
}
